body{
    background: #fafafa;
}

.dino{
   width: 60px;
   height: 60px;
   background-image: url(./image/dino.png);
   position: absolute;
   bottom: 0;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(./image/cactus.png);
    bottom: 0;
 
}

.game-over{
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: arial;
}
/*define etapas de animações*/
@keyframes slideright {
    /*desliza pra direita de maneira animada*/
    from{
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
}

.background {
    position: absolute;
    bottom: 0;
    background-image: url(./image/background.png);
    background-repeat: repeat-x; /*eixo x o deserto vai ficar estendendo independente do tamanho da tela*/
    animation: slideright 600s infinite linear;/*linear e um tempo de animação executa de maneira de igual do começo ao fim não tem variações*/
    width: 100%;
    height: 200px;
}